.profile-card-container{
    padding: 20px;
    background-color: white;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-radius: 8px;
    align-items: center;
    margin: 10px;
    text-decoration: none;

}
.profile-card-container:hover{
    scale: 1.02;
}
.profile-card-img{
    height: 70px;
    width: 70px;
    margin-right: 10px;
}
.profile-title{
    font-size: 18px;
    color: black;

}

@media (max-width: 750px){
    .profile-card-container{
        max-width: none;
        padding: 15px;
    }
    .profile-card-img{
        height: 50px;
        width: 50px;
    }
    
}