*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
}
body{
    background-image: url("../public/images/collage-like.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100%;
}